* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Caveat', sans-serif;
}

body {
  background-image: url("assets/wooden_background.png");
  background-size: contain;
  background-repeat: repeat;
  background-position-y: 18vh;
}

#minesweeperCanvas {
  width: min(75vw, 75vh);
}

#control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2vh 0;
  width: min(75vw, 75vh);
  height: min(8vh, 8vw);
}

#control-panel img {
  height: 100%;
}

.button {
  cursor: pointer;
}

.button,
#counter,
#timer {
  border-radius: 15px;
}

.ui-element {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.text-on-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.number-overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: min(6vh, 6vw);
  font-weight: bold;
  padding-left: min(2.5vh, 2.5vw);
  letter-spacing: min(4vh, 4vw);
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
}